body {
  padding: 50px;
  font: 12px "Roboto";
  color: #666;
}

header{
  background-color: #EAC926;
}

h2{
  background-color: #ebebeb;
  font-size: 24px;
}

h3{
  font-size: 16px;
}

.precio{
  font-size: 18px;
}

.verde{
  color: #39b54a;
}

.celeste{
  color: #1259c3;
}